# Python
*.pyc
__pycache__/
*.swp
*.env

# Data
*.csv
*.jpg
*.png
*.npy

# System
.DS_Store
.idea/
.vscode/

# Virtual Environment
.venv/
venv/

# Logs
*.log
logs/

# DeepFace models
.deepface/
weights/
